@font-face {
    font-family: normal;
    src: url(../css/fonts/WixMadeforTextVF_W_Wght.8022447a.woff2);
}

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@font-face {
    font-family: 'Questrial', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
}